<h1>Nueva Categoria</h1>

<%= render 'form', categorium: @categorium %>

<%= link_to 'Atrás', categoria_path %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$('#myTable').DataTable({
language: { 
  url: "//cdn.datatables.net/plug-ins/1.11.3/i18n/es-cl.json"
}
});
});
</script>

